*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("/image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.landingPageContainer nav{
  padding-inline: 1.2 rem;
  padding-block: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.landingPageContainer nav h2{
  font-size: 1.8rem;
  font-weight: 500;
}
.landingPageContainer nav navlist{
  display: flex;
  align-items: center;
  gap: 1.6rem;
}